@font-face {
    font-family: 'geosanslightregular';
    src: url('police/geo/geosanslight-webfont.woff2') format('woff2'),
         url('police/geo/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pissjar_sansregular_piss';
    src: url('police/pissjar/pissjar_sans-webfont.woff2') format('woff2'),
         url('police/pissjar/pissjar_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gobold_blockyitalic';
    src: url('police/gob/gobold_blocky_italic-webfont.woff2') format('woff2'),
         url('police/gob/gobold_blocky_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sunrise_international_demoRg';
    src: url('police/sun/sunrise_international_demo-webfont.woff2') format('woff2'),
         url('police/sun/sunrise_international_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abugetregular';
    src: url('police/abu/abuget-webfont.woff2') format('woff2'),
         url('police/abu/abuget-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sketch_blockbold';
    src: url('police/sket/sketch_block-webfont.woff2') format('woff2'),
         url('police/sket/sketch_block-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.photographie
{
height:60vw;
background-size: cover;

}

.photo2
{
background-image: url("photos/Jeffdos.jpg");
z-index:2;
}

.photo2:hover
{
background-image: url("photos/Jeffface.jpg");
}

.photo3
{
background-image: url("photos/Juliendos.jpg");
z-index:2;
}

.photo3:hover
{
background-image: url("photos/Julienface.jpg");
}

.photo4
{
background-image: url("photos/Leados.jpg");
z-index:2;
}

.photo4:hover
{
background-image: url("photos/Leaface.jpg");
}

.photo5
{
background-image: url("photos/Matthieudos.jpg");
z-index:2;
}

.photo5:hover
{
background-image: url("photos/Matthieuface.jpg");
}

.special
{
height: 60vw;
background-size: cover;
opacity: 0;
}









.photographie2 {
height: 60vw;
margin-top: -60vw;
background-size: cover;
}


h4 {
    font-family: 'sketch_blockbold', arial;
}




.nom
{
font-size: 3rem;
font-family: 'sketch_blockbold', serif;
}

.prénom
{
margin-top: 3rem;
font-size: 3rem;
font-family: 'sketch_blockbold', serif;
}

h3
{
font-size: 1.5rem;
font-family: 'Arbutus Slab', serif;
}

.description
{
margin-top: 1.9rem;
font-size: 1.2rem;
line-height: 1.5rem;
font-family: 'geosanslightregular';
}

.person-role {
    font-family: "geosanslightregular";
}

.link a+a
{
margin-left: 2rem;
}

.nom_center
{
text-align: center;
}



h1 {
    font-family: 'sketch_blockbold', arial; 
    margin-top: 5vw;
    border-radius: 10px; 
    font-size: 4.8vw;
    position: absolute;
    margin-left: 3.7rem;
    width: 100%;
    z-index: 4;
    color: rgb(250, 214, 9);
    }
/*

.tete
{
    font-family: 'Detroit Ghetto';
    font-size: 5rem;
    margin-left: 5rem;
}


/*photo groupe en version mobile */
.photo-groupe {  
    margin-bottom: 3%;
    margin: 0;
    background-size: 100%;
    margin-top: 10vw; 
    height: 30vw;
    width: 100%;
    background-image: url("photos/Photogroupe.jpg");
    background-attachment: fixed; 
    margin-top: 2vw; 
    margin-bottom: 3vw;
    border-radius: 0.7vw;
    box-shadow: inset 0 -22px 10px -10px white;
    background-repeat: no-repeat;
}
/*fin photo groupe en version mobile */

h2.titre-mobile {
    font-family: 'sketch_blockbold', arial;
    margin-top: -2%;
    border-radius: 10px; 
    font-size: 4vw;
    text-align: center; 
    width: 100%;
    z-index: 4;
    color: rgb(250, 214, 9);
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;}

/* fin animation */

.fab {
    color: #3886a5;
    font-size: 2.5em;
  }
  .fas {
    color: #3886a5;
    font-size: 2.5em;
  }

  .img-fluid {
    margin:0;
    padding:2px;
    border:2px transparent ;
 }

 .modal-header {
    background-color: #f3cc4c
    }

.link {
    margin-bottom: 10%;
    position:fixed-bottom;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 0.9rem;
}


h2.nom
{
    font-size: 2rem;
}

@media only screen   /* animation tablette paysage à mettre à la fin du fichier css */
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Your Styles here */


.p2 {
background-image: url("photos/Jeffface.jpg");
z-index: 1;
animation-name: s1;
animation-duration: 10s; 
transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
animation-iteration-count: infinite;
}

.p3 {
background-image: url("photos/Julienface.jpg");
z-index: 1;
animation-duration: 10s; 
transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
animation-iteration-count: infinite;
animation-name: s2;
}

.p4 {
background-image: url("photos/Leaface.jpg");
z-index: 1;
animation-duration: 10s; 
transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
animation-iteration-count: infinite;
animation-name: s3;
}

.p5 {
background-image: url("photos/Matthieuface.jpg");
z-index: 1;
animation-duration: 10s; 
transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
animation-iteration-count: infinite;
animation-name: s4;
}

@keyframes s1 {
0% {z-index:1}
23% {z-index:3}
27% {z-index:1}
69% {z-index:1}
82% {z-index:1} 
}

@keyframes s2 {
0% {z-index:1}
23% {z-index:1}
46% {z-index:3}
49% {z-index:1}
82% {z-index:1} 
}


@keyframes s3 {
0% {z-index:1}
23% {z-index:1}
46% {z-index:1}
64% {z-index:3}
83% {z-index:1} 
}


@keyframes s4 {
0% {z-index:1}
23% {z-index:1}
46% {z-index:1}
69% {z-index:1}
97% {z-index:3} 
}
}


