.nom h2
{
font-size: 1.5rem;
font-family: 'Arbutus Slab', serif;

}

.nom h3
{
font-size: 1.0rem;
font-family: 'Arbutus Slab', serif;
}

.description
{
height: 8rem;
margin-top: 1.9rem;
font-family: 'Poiret One', cursive;
}

.link
{
text-align: center;
margin-top: 0.7rem;

}
.link a+a
{
margin-left: 2rem;
}

.nom_center
{
text-align: center;
}